<link rel="stylesheet" href="/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/ifpe.png" alt="" width="60" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Pessoas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pessoas
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/pessoas/cadastrar">Cadastrar</a></li>
                      <li><a class="dropdown-item" href="/pessoas/">Listar</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a target="_blank" class="dropdown-item" href="/pessoas/relatorio">Relat칩rio</a></li>
                    </ul>
                </li>
                <!-- Usu치rios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usu치rios
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/usuarios/cadastrar">Cadastrar</a></li>
                      <li><a class="dropdown-item" href="/usuarios/">Listar</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a target="_blank" class="dropdown-item" href="/usuarios/relatorio">Relat칩rio</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>