<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>

<body>
    <div class="container">
        <% if (resultado==undefined) { %>
            <div>Usuário não encontrado</div>
        <% } else { %>
            <div>
                <b>E-mail:</b>
                <%= resultado.email %>
            </div>
            <div>
                <b>Nome:</b>
                <%= resultado.nome %>
            </div>
        <% } %>
        <a href="/usuarios">Voltar</a>
        <%- include("../partials/rodape.ejs") %>
    </div>
</body>

</html>