<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuário</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Login de Usuário</h1>
        <% if (erro) { %>
            <div style="background-color: lightgray; color: red;">E-mail e/ou senha inválido(s)!</div>
        <% } %>
        <form action="/usuarios/login" method="post">
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" required class="form-control" name="email">
            </div> 
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" required class="form-control" name="senha">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Logar</button>
            </div>
        </form>
    </div>
</body>

</html>